<!DOCTYPE html>
<html>
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="card-container">
        {% for card in cards %}
        <div class="card">
            <div class="front">
                <h2>{{ card['토픽'] }}</h2>
            </div>
            <div class="back">
                <p><strong>정의:</strong> {{ card['정의'] }}</p>
                
                <p><strong>키워드:</strong> {{ card['키워드'] }}</p>
      
                <p><strong>암기법:</strong> {{ card['암기법'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
